.Card {
  position: relative;
  height: 50rem;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  border-radius: 0.3rem;
  margin: 0 3rem;
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
  &__side {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 2rem rgba(#000, 0.2);
    transition: all 0.8s ease;
    &--front {
      background: #fff;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      }
      &-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      }
      &-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
      }
    }
  }

  // Front Side
  &__image {
    &-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
        url(../img/nat-5.jpg);
    }
    &-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
        url(../img/nat-6.jpg);
    }
    &-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url(../img/nat-7.jpg);
    }
    height: 23rem;
    background-blend-mode: screen;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    border-radius: 0.3rem 0.3rem 0 0;
  }
  &__heading {
    line-height: unset;
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 12rem;
    right: 2rem;
    width: 60%;

    @media (max-width: 992px) {
      font-size: 2.8rem;
    }
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(#ffb900, 0.85),
        rgba(#ff7730, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(#7ed56f, 0.85),
        rgba(#28b485, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(#2998ff, 0.85),
        rgba(#5643fa, 0.85)
      );
    }
  }
  &__details {
    padding: 2rem 0;
    ul {
      width: 80%;
      list-style: none;
      margin: 0 auto;
      li {
        color: rgb(71, 71, 71);
        text-align: center;
        font-size: 2rem;
        padding: 0.3rem 0;
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

  // back Side
  &__action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__price-box {
    margin-bottom: 6rem;
  }
  &__price-only {
    font-size: 1.5rem;
  }
  &__price-value {
    font-weight: 200;
  }

  &__button {
    margin: 6rem 0;
  }

  @media (max-width: 992px) {
    margin-bottom: 3rem;
  }

  @media (max-width: 768px), (hover: none) {
    & {
      height: auto;
      background-color: #fff;
      box-shadow: 0 1.5rem 2rem rgba(#000, 0.2);
      &:hover {
        .Card__side {
          transform: unset;
        }
      }
    }
    &__side {
      height: auto;
      position: relative;
      box-shadow: unset;
      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
      }
    }
    // back Side
    &__action {
      position: relative;
      text-align: center;
      top: unset;
      left: unset;
      transform: unset;
      padding: 6rem 3rem 3rem 3rem;
    }
  }
}

.cards_container {
  @media (min-width: 768px) and (max-width: 992px) {
    & > div:last-child {
      margin: 0 auto;
    }
    margin-bottom: 3rem;
  }
}
