.features-box {
  background-color: rgba(#fff, 0.8);
  text-align: center;
  padding: 2.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2rem rgba(#000, 0.2);
  transition: transform 0.2s linear;
  margin: 0 1rem;
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
  &__icon {
    color: $DarkGreen;
    font-size: 6rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, $LightGreen, $DarkGreen);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
  }

  @media (max-width: 992px) {
    margin-bottom: 4rem;
  }

  // H3 > typography
  // p > typograpyh
}
