@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

// Primary Head
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4rem;
  backface-visibility: hidden;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: fadeInLeft 0.6s ease-in-out;
    @media (max-width: 576px) {
      font-size: 5rem;
      letter-spacing: 1.5rem;
    }
  }
  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1.74rem;
    animation: fadeInrRight 0.6s ease-in-out;
    @media (max-width: 576px) {
      font-size: 4rem;
      letter-spacing: 0.5rem;
    }
  }
}

// Secondary Head
.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $LightGreen, $DarkGreen);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s linear;
  letter-spacing: 0.2rem;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 992px) {
    font-size: 3rem;
  }
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

//Heading tertiary
.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
